<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Book List</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<body>
	<div class="container">
		<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign out" />
		</form>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>ISBN</th>
				<th>Year</th>
				<th>Category</th>
				<th sec:authorize="hasRole('ADMIN')"></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="book: ${books}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.author}"></td>
				<td th:text="${book.ISBN}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.category.name}"></td>
				<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
				<td><a class="btn btn-sm btn-info" th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>
	<a class="btn btn-success" th:href="@{/add}">Add Book</a>
	</div>

</body>
</html>